<div class="container__content">
  <div class="content__cover">
    <img src="{{ photoCover }}" alt="" srcset="">
  </div>
  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <p>
      {{ contentDescription }}
    </p>
  </div>
  <div class="button_div">
    <app-button buttonLabel="Compose" color="#8a8701" [routerLink]="['/compose']" ></app-button>
    <app-button class="back_button" buttonLabel="Back" color='#0377fc' [routerLink]="['']"></app-button>
  </div>
</div>



