<div class="container__content">
  <div class="content__cover">
    <img src="{{ currentPost.image }}" alt="" srcset="">
  </div>
  <div class="content__title">
    <h1>{{ currentPost.title }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <p>
      {{ currentPost.content }}
    </p>
  </div>
  <div class="content__info" >
    <p>{{ this.convertDate(currentPost.createdAt) }} by {{currentPost.author}} </p>
  </div>
  <div class="button_div">
    <app-button buttonLabel="Compose" color="#8a8701" [routerLink]="['/compose']" ></app-button>
    <app-button class="back_button" buttonLabel="Back" color='#0377fc' [routerLink]="['']"></app-button>
  </div>
</div>



